<ion-view title="Receive booking">
  <ion-content padding="true" class="has-header">
    <button id="pickup" ng-disabled="isPickupDisabled" class="button button-positive" ng-click="pickup()">
      Pick up
    </button>
    <button id="finish" ng-disabled="isFinishDisabled" class="button button-positive" ng-click="finish()">
      I'm free
    </button>

    <div id="map" style="width:60%;height:400px;float:left; border: 1px solid black;"></div>
    <div id="directions" style="width:38%; height:400px; float:right" ></div>
  </ion-content>
</ion-view>
